{% extends "templates/web.html" %}

{% set title = heading or "Consulta de Propietarios" %}
{% block header %}<h1>{{ heading or "Consulta de Propietarios" }}</h1>{% endblock %}

{% block page_content %}
<style>
	.address {
		line-height: 1.7em;
	}
</style>
<div class="contact-content">
	{% if introduction %}
	<div>
		{{ introduction or "" }}<br>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-8">
			<p id="contact-alert" class="alert alert-warning" style="display: none;">&nbsp;</p>

			<div class="form-group">
				<input class="form-control" name="code" type="text" placeholder="{{ _('Codigo') }}" />
			</div>

			<div class="form-group">
				<button id="consultar" class="btn btn-default">{{ _("Consultar") }}</button>
			</div>

		</div>

		<div class="col-xs-12">

			<ul id="condo">

			</ul>

		</div>

	</div>
</div>
<script>
	{% include "templates/includes/consultas.js" %}
</script>
{% endblock %}